@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" alt="About Us Image">
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Welcome to Our Recipe World</h2>
            <p>
                At Food & Wine, we're passionate about bringing you a delightful culinary experience. Our recipe collection is crafted with love, creativity, and a touch of innovation. We believe that cooking is not just a task; it's an art that brings people together, creating moments and memories.
            </p>

            <p>
                Explore our diverse range of recipes, from hearty breakfasts to delectable desserts, and refreshing drinks to savory snacks. Whether you're a seasoned chef or a novice in the kitchen, our recipes cater to all skill levels and tastes.
            </p>

            <p>
                Our commitment goes beyond providing recipes; we aspire to inspire your culinary journey. Join us in celebrating the joy of cooking, and let our recipes be the inspiration for your next culinary adventure. From family dinners to social gatherings, make every meal an occasion to savor and enjoy.
            </p>

            <p>
                Thank you for being a part of our recipe community. Let's embark on a flavorful journey together!
            </p>
        </div>
    </div>
</div>
